.flex-cards {
  width: 100%;
  display: flex;
}

.flex {
  display: flex;
}

.flex-center {
  @extend .flex;
  align-items: center;
  justify-content: center;
}

.card-sizes {
  width: 300px;
  height: 350px;
  margin: 10px;
}

.cards {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .cards-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;

    div {
      width: 50%;
      min-height: 100px;
    }

    div {
      display: flex;
      align-items: center;
      padding: 40px;

      span:nth-child(1) {
        min-width: 50px;
        border-top: 2px solid #d13e24;
        margin-right: 10px;
      }

      span:nth-child(2) {
        font-size: 1.3em;
        font-family: "Nunito";
      }
    }

    div:nth-child(2) {
      background-color: #b1ddd1;
    }
  }

  .cards--first-row {
    @extend .flex-cards;
    margin-bottom: 100px;

    .cards--first-row-column-1 {
      width: 50%;
      display: flex;
      justify-content: center;
      margin-top: 10%;

      .cards--first-row-column-1-image {
        width: 400px;
        height: 550px;
        display: flex;
        flex-direction: column;
        align-items: center;
        box-shadow: 1px 3px 5px #ccc;
        font-family: "Athiti";
        font-size: 0.8em;
        font-style: italic;
        background-color: white;
        transition: .5s ease-in-out;

        .col-1-img {
          width: 400px;
          height: 460px;
          overflow: hidden;

          img {
            width: 100%;
            height: auto;
          }
        }

        .col-1-description {
          font-weight: bolder;
          font-family: "Overpass";
          font-size: 1em;
          font-style: normal;
          margin: auto;
        }
      }

      .cards--first-row-column-1-image:hover {
        cursor: pointer;
        box-shadow: 1px 3px 5px #ccc;
        transform: translateY(-5px);

      }

    }

    .cards--first-row-column-2 {
      width: 50%;
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: #b1ddd1;


      .cards--first-row-column-2-image {
        width: 100%;
        display: flex;
        margin-bottom: 20px;
        justify-content: center;

        .col-2-img {
          width: 350px;
          padding: 40px 20px;

          img {
            width: 90%;
          }

          img:hover {
            cursor: pointer;
          }
        }

        .col-2-description {
          width: 20%;
          align-self: center;
          text-align: center;
          display: flex;
          justify-content: center;          

          p{
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: white;
            width: 100px;
            height: 200px;
            font-family: "Economica";
          }
        }
      }
    }
  }
}

.cards--second-row {
  @extend .flex-cards;
  padding-bottom: 60px;

  .card-links {
    @extend .flex-center;
    flex-direction: column;
    width: 6%;
    cursor: pointer;

    p {      
      font-family: "Nunito";
      font-size: 1.3em;
      transform: rotate(270deg);
      border-bottom: 2px solid #d13e24;
      width: auto;
      min-width: 150px;
      text-align: center;
    }

    span {
      min-height: 50px;
      border-left: 2px solid #d13e24;
    }
  }

  .card-images {
    @extend .flex-cards;
    border: none;
    margin-left: 30px;
    align-items: center;
  }

}

.card {
  @extend .card-sizes;
  box-shadow: 1px 1px 4px #ccc;
  transition: 0.5s ease-in-out;
  margin: 20px 30px;

  .card-image {
    width: 100%;
    height: 73%;
    overflow: hidden;

    img {
      width: 100%;
      margin-top: -50px;
    }
  }

  .price {
    position: absolute;
    background-color: white;
    box-shadow: 1px 1px 2px #ccc;
    margin-left: 15px;
    margin-top: -20px;
    padding: 10px 20px;
  }

  .image-description {
    padding: 20px;
    font-family: "Nunito";
    font-size: 0.8em;

  }
}

.card:hover {
  cursor: pointer;
  box-shadow: 1px 3px 5px #ccc;
  transform: translateY(-5px);

}

.more-cards {
  @extend .flex-center;
  flex-direction: column;
  font-family: "Nunito";
  margin-left: 5%;

  p:nth-child(1) {
    @extend .flex-center;
    height: 50px;
    width: 50px;
    border-radius: 50%;      
    background-color: #eee;
    color: #434343;
    transition: .5s ease-in-out;
  }

  p:hover {
    cursor: pointer;
  }

  p:nth-child(1):hover {
    box-shadow: 1px 2px 5px #ccc;
  }
}

// .mixCards {
//   display: flex;
//   flex-direction: row;
//   align-items: center;
// }