.cards {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e7e7e7;
  padding: 20px;
  margin-bottom: 20px;
  min-height: 600px;

  .image {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    
    img {
      width: 70%;
      height: auto;
      animation: creepin 1s;
    }

    .price {
      background-color: white;
      color: black;
      position: absolute;
      padding: 10px 25px;
      margin-left: -15%;
      margin-top: 60px;
      font-weight: bolder;
      align-self: flex-start;
    }
  }

  .description-container {
    width: 50%;
    display: flex;
    justify-content: center;
  }

  .description {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    height: 250px;
    padding: 20px;
    width: 120px;
    font-size: 0.8em;

    .sample-image {
      height: 100px;
      width: 100px;
      border-radius: 50%;
      overflow:hidden;

      img {
        width: 100%;
        height: auto;
        transform: scale(1.8);
      }

      img:hover {
        opacity: 0.8
      }
    }
  }
}

.card:nth-child(odd) {
  justify-content: flex-start;
}

.card:nth-child(even) {
  justify-content: flex-start;
  flex-direction: row-reverse;
}

.next-image {
  font-size: 1.7em;
  font-weight: bolder;
  color: white;
  position: absolute;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  background-color: gray;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.8;
  transition: .5s ease-in-out;
  animation: pulse 1.5s infinite;
}

.next-image:hover {
  opacity: 1;
  cursor: pointer;
  animation: none;
}

.ani {
  animation: creepin 1s;
}

@keyframes creepin {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes pulse {
  0% {
    height: 30px;
    width: 30px;
  }
  50% {
    height: 60px;
    width: 60px;
  }
  100% {
    height: 30px;
    width: 30px;
  }
}