.cart {
  display: flex;
  justify-content: center;
  padding: 30px;

  .cart--image-container {
    width: 50%;
    display: flex;
    justify-content: flex-end;

    .cart--image {
      width: 500px;

      img {
        width: 100%;
        height: auto;
      }
    }
    .next-icon {
      position: absolute;
      width: 500px;
      height: 95%;
      background-color: rgba($color: #000000, $alpha: 0.3);
      display: flex;
      align-items: center;
      justify-content: center;

      span {
        color: black;
        font-size: 1.5em;
        height: 50px;
        width: 50px;
        border-radius: 50%;
        background-color: #eee;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
      }
    }
  }

  .cart--checkout {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;

    button {
      padding: 15px 50px;
      font-size: 1em;
      transition: 0.3s ease-in-out;
      outline: none;
    }

    button:hover {
      cursor: pointer;
    }

    .not-bought {
      color: #d13e24;
      border: 1px solid #d13e24;
    }

    .not-bought:hover {
      background-color: #d13e24;
      color: white;
    }

    .bought {
      color: white;
      background-color: green;
      border: none;
    }
  }
}