.floating-cart {
  height: 50px;
  width: 50px;
  position: fixed;
  bottom: 20px;
  right: 40px;
  z-index: 9;
  border-radius: 50%;
  background-color: green;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
}

.count {
  position: absolute;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: #d13e24;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  align-self: flex-end;
  margin-top: -20px;
}

.floating-cart-span {
  font-size: 1.2em;
  color: white;
}